## LEDs
NET "Led1"	LOC=W3	|	IOSTANDARD=LVCMOS18;		#Bank = 3, pin name = IO_L9P_3,		Sch name = LD0
## 7 Segment Display
NET "SEG[0]"	LOC=AA21	|	IOSTANDARD=LVCMOS33;			#Bank = 1, pin name = IO_L63P_1,	Sch name = 7SD-AA
NET "SEG[1]"	LOC=AA22	|	IOSTANDARD=LVCMOS33;			#Bank = 1, pin name = IO_L63N_1,	Sch name = 7SD-AB
NET "SEG[2]"	LOC=Y22	|	IOSTANDARD=LVCMOS33;			#Bank = 1, pin name = IO_L59N_1,	Sch name = 7SD-AC
NET "SEG[3]"	LOC=N15	|	IOSTANDARD=LVCMOS33;			#Bank = 1, pin name = IO_L60P_1,	Sch name = 7SD-AD
NET "SEG[4]"	LOC=AB19	|	IOSTANDARD=LVCMOS33;			#Bank = 1, pin name = IO_L65P_1,	Sch name = 7SD-AE
NET "SEG[5]"	LOC=P20	|	IOSTANDARD=LVCMOS33;			#Bank = 1, pin name = IO_L64N_1,	Sch name = 7SD-AF
NET "SEG[6]"	LOC=Y21	|	IOSTANDARD=LVCMOS33;			#Bank = 1, pin name = IO_L59P_1,	Sch name = 7SD-AG

#NET dp	LOC=P15	|	IOSTANDARD=LVCMOS33;					#Bank = 1, pin name = IO_L62P_1,	Sch name = 7SD-DP

NET "AN[1]"	LOC = P16		|	IOSTANDARD=LVCMOS33;		#Bank = 1, pin name = IO_L62N_1,	Sch name = 7SD-C1
NET "AN[0]"	LOC = M17		|	IOSTANDARD=LVCMOS33;		#Bank = 1, pin name = IO_L58N_1,	Sch name = 7SD-C2
#NET "AN[3]"	LOC = N16		|	IOSTANDARD=LVCMOS33;		#Bank = 1, pin name = IO_L60N_1,	Sch name = 7SD-C3
NET "AN[2]"	LOC = P19		|	IOSTANDARD=LVCMOS33;		#Bank = 1, pin name = IO_L64P_1,	Sch name = 7SD-C4
#NET "AN[5]"	LOC = AA20	|	IOSTANDARD=LVCMOS33;		#Bank = 1, pin name = IO_L61P_1,	Sch name = 7SD-C5
#NET "AN[4]"	LOC = AB21	|	IOSTANDARD=LVCMOS33;		#Bank = 1, pin name = IO_L61N_1,	Sch name = 7SD-C6
#NET "AN[4]"	LOC = AB21	|	IOSTANDARD=LVCMOS33;		#Bank = 1, pin name = IO_L61N_1,	Sch name = 7SD-C6

##Switches
NET "start_g"	LOC= V5		|	IOSTANDARD=LVCMOS18;		#Bank = 3, pin name = IO_L13N_3,	Sch name = SW0
NET "SP[0]"	LOC= U4	|	IOSTANDARD=LVCMOS18;		#Bank = 3, pin name = IO_L18P_3,	Sch name = SW1
NET "SP[1]"	LOC= V3		|	IOSTANDARD=LVCMOS18;		#Bank = 3, pin name = IO_L18N_3,	Sch name = SW2
NET "SP[2]"	LOC= P4	|	IOSTANDARD=LVCMOS18;		#Bank = 3, pin name = IO_L21P_3,	Sch name = SW3
#NET "SW[4]"	LOC= R4	|	IOSTANDARD=LVCMOS18;		#Bank = 3, pin name = IO_L21N_3,	Sch name = SW4
#NET "SW[5]"	LOC= P6	|	IOSTANDARD=LVCMOS18;		#Bank = 3, pin name = IO_L22P_3,	Sch name = SW5
#NET "SW[6]"	LOC= P5	|	IOSTANDARD=LVCMOS18;		#Bank = 3, pin name = IO_L22N_3,	Sch name = SW6
#NET "SW[7]"	LOC= P8	|	IOSTANDARD=LVCMOS18;		#Bank = 3, pin name = IO_L23P_3,	Sch name = SW7
## Buttons
NET "BTN0DWN"	LOC = E6		|	IOSTANDARD=LVCMOS18;		#Bank = 3, pin name = IO_L82P_3,	Sch name = BTN0
NET "BTN1UP"	LOC = D5		|	IOSTANDARD=LVCMOS18; 		#Bank = 3, pin name = IO_L82N_3,	Sch name = BTN1
NET "BTN2DWN"	LOC = A3		|	IOSTANDARD=LVCMOS18;		#Bank = 3, pin name = IO_L83P_3,	Sch name = BTN2
NET "BTN3UP"	LOC = AB9	|	IOSTANDARD=LVCMOS33;

NET "SYS_CLK_I" LOC = "D11";

NET "RED_O<0>" LOC = "B2" |	IOSTANDARD=LVCMOS18;				#Bank = 3, pin name = IO_L26P_3,						Sch name = VGA-R1
NET "RED_O<1>" LOC = "H3" |	IOSTANDARD=LVCMOS18;				#Bank = 3, pin name = IO_L54P_M3RESET_3,	Sch name = VGA-R2
NET "RED_O<2>" LOC = "H4" |	IOSTANDARD=LVCMOS18;				#Bank = 3, pin name = IO_L55N_M3A14_3,			Sch name = VGA-R3			

NET "GREEN_O<0>" LOC = "M6" |	IOSTANDARD=LVCMOS18;		#Bank = 3, pin name = IO_L31P_3,						Sch name = VGA-G2
NET "GREEN_O<1>" LOC = "H6" |	IOSTANDARD=LVCMOS18;		#Bank = 3, pin name = IO_L57P_3,						Sch name = VGA-G3
NET "GREEN_O<2>" LOC = "N6" |	IOSTANDARD=LVCMOS18;		#Bank = 3, pin name = IO_L24N_3,						Sch name = VGA-G4

NET "BLUE_O<0>" LOC = "N7"  |	IOSTANDARD=LVCMOS18;				#Bank = 3, pin name = IO_L25P_3,						Sch name = VGA-B1
NET "BLUE_O<1>" LOC = "P7"  |	IOSTANDARD=LVCMOS18;				#Bank = 3, pin name = IO_L25N_3,						Sch name = VGA-B2	

NET "VSYNC_O" LOC = "V18" 	|	IOSTANDARD=LVCMOS33;			#Bank = 1, pin name = IO_L73N_1,						Sch name = VGA-VS
NET "HSYNC_O" LOC = "V17"  |	IOSTANDARD=LVCMOS33;			#Bank = 1, pin name = IO_L73P_1,						Sch name = VGA-HS
